.navbar-parent {
  background-color: grey;
  grid-area: nav;
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  grid-template-areas: ". name links ."
}
.navbar-title {
  flex: 1;
  align-items: center;
  grid-area: name;
}
.navbar-links {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  grid-area: links;
}
.footer-parent  {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  bottom: 0; */
  grid-area: footer;
}
.main-grid {
  display: grid;
  grid-template-rows: 100px auto 150px;
  grid-template-columns: 100px auto 100px;
  grid-template-areas:
  "nav nav nav"
  "page page page"
  "footer footer footer"
}
.changing-content {
  grid-area: page;
  background-color: grey;
}


.home-grid {
  grid-area: page;
  /* width: 100%;
  height: 100%; */
  display: grid;
  /* grid-template-columns: 100px auto auto auto 100px; */
  grid-template-rows: 250px 50px 700px;
  grid-template-areas: "header" "select" "portfolio";
}
.title {
  grid-area: header;
  background-color: blue;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: ". text .";
  justify-content: center;
  align-items: center;
}
.title h1 {
  grid-area: text;
  background-color: white;
}
.selector {
  display: grid;
  grid-area: select;
  background-color: brown;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: ". selectBar .";
}
.select-bar {
  grid-area: selectBar;
  background-color: green;
}
.portfolio {
  grid-area: portfolio;
  background-color: red;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: ". . ." ". items ." ". . ."
}
.portfolio-items-container {
  grid-area: items;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px;
  grid-gap: 10px 10px;
}
.portfolio-item {
  border: thin solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-grid {
  grid-area: page;
  /* width: 100%;
  height: 100%; */
  display: grid;
  /* grid-template-columns: 100px auto auto auto 100px; */
  grid-template-rows: 400px 250px 250px;
  grid-template-areas: "description" "interests" "contact";
}
.self-description {
  grid-area: description;
  background-color: blue;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: ". text .";
}
.self-description .text {
  grid-area: text;
  background-color: white;
}
.interests {
  display: grid;
  grid-area: interests;
  background-color: brown;
  grid-template-columns: 100px auto auto auto 100px;
  grid-template-areas: ". creating reading listening .";
}
.creating {
  grid-area: creating;
}
.reading {
  grid-area: reading;
}
.listening {
  grid-area: listening;
}
.contact {
  grid-area: contact;
  background-color: red;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: ". email ."
}
.contact h1 {
  grid-area: email;
}
