@import './variables.scss';
$descriptionBackgroundColor: lightgrey;
$contactBackgroundColor: lightgrey;

.about-grid {
  grid-area: page;
  // display: grid;
  // grid-template-columns: 70% 30%;
  // grid-template-rows: 400px 250px;
  // grid-template-areas: "description interests"
  //                       "contact interests";
  display: flex;
}
.personal-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.self-description {
  background-color: darkgrey;
  // grid-area: description;
  // display: grid;
  // grid-template-columns: 100px auto 100px;
  // grid-template-areas: ". text .";
  flex: 2;
}
.self-description .description-content {
  // grid-area: text;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.placeholder-image {
  flex: 1;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: thin solid black;
  padding: 20px;
}
.text {
  flex: 3;
  padding: 20px;
  font-size: 18px;
}
.interests {
  height: 100%;
  // grid-area: interests;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.interest-wrapper {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.interests h3 {
  font-size: 20px;
  border-bottom: thin solid black;
  text-transform: uppercase;
}
.interest-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.placeholder-img {
  height: 100px;
  width: 100px;
}

.contact {
  flex: 1;
  background-color: $contactBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // grid-area: contact;
  // display: grid;
  // grid-template-columns: 100px auto 100px;
  // grid-template-areas: ". email ."
}
.contact-content {
  // grid-area: email;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-content h3 {
  font-size: 23px;
}
.contact-content h1 {
  font-size: 50px;
  margin-top: 0;
}
