@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito');

@import './about.scss';
@import './footer.scss';
@import './home.scss';
@import './navbar.scss';
@import './navbar.scss';
@import './parent.scss';
@import './project-nav.scss';
@import './ui.scss';
@import './ux.scss';
@import './responsive.scss';

body {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.body-text {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
