.footer-parent  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  bottom: 0; */
  grid-area: footer;
  color: white;
  background-color: black;
}
