@import './variables.scss';

.home-grid {
  // grid-area: page;
  // display: grid;
  // grid-template-rows: 500px 50px 700px;
  // grid-template-areas: "header" "select" "portfolio";
}
.title {
  height: 550px;
  display: flex;
  position: relative;
}
.hook {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 60px;
  h1 {
    font-size: 80px;
    border-bottom: thin solid grey;
    margin-bottom: 0;
  }
  h3 {
    font-size: 40px;
    margin-top: 0;
  }
}
.bar {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.portfolio {
  display: flex;
  background-color: lightgrey;
}
.portfolio-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  a {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      flex: 1;
      height: 100%;
      width: 100%;
    }
  }
  .portfolio-title, .portfolio-description {
    display: flex;
    justify-content: center;
    align-items: center;
    h2, p {
      margin: 8px;
    }
  }
  // .text {
  //   flex: 1;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  // }
}
.item-1 {
  background-color: rgb(242, 212, 155);
}
.item-2 {
  background-color: rgb(158, 141, 147);
}
.item-3 {
  background-color: rgb(141, 158, 142);
}
@media screen and (max-width: 1000px) {
  .portfolio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-item {
    flex: 1;
    width: 100%;
    max-width: 100%;
    * {
      max-width: 500px;
      max-height: 500px;
    }
    &:first-child {
      border: {
        bottom: 1px solid black;
        left: none;
        right: none;
        top: none;
      }
    }
    &:last-child {
      border: {
        bottom: none;
        left: none;
        right: none;
        top: 1px solid black;
      }
    }
  }
}
