@import './variables.scss';

.navbar-parent {
  grid-area: nav;
  display: grid;
  grid-template-columns: 50px auto auto 50px;
  grid-template-areas: ". name links .";
  height: 125px;
  a {
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
}
.navbar-title {
  flex: 1;
  align-items: center;
  grid-area: name;
  display: flex;
  flex-direction: row;
  a {
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
}
.navbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  grid-area: links;
}
.navbar-links a {
  padding: 0 25px;
  font-size: 25px;
}
