.navbar-parent {
  grid-area: nav;
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  grid-template-areas: ". name links ."
}
.navbar-title {
  flex: 1;
  align-items: center;
  grid-area: name;
  display: flex;
}
.navbar-links {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  grid-area: links;
}
.navbar-links a {
  padding: 0 25px;
  font-size: 25px;
}
