@import './variables.scss';

.main-grid {
  display: grid;
  grid-template-rows: 130px auto 150px;
  grid-template-columns: 50px auto 50px;
  grid-template-areas:
  "nav nav nav"
  ". page ."
  "footer footer footer";
}
.changing-content {
  grid-area: page;
}
