@import './variables.scss';

.options {
  height: 30px;
  margin: 20px 0;
  .link {
    font-size: 21px;
    color: lightgrey;
    padding: 0 5px;
    text-decoration: none;
    &:hover {
      color: darkgreen;
    }
  }
  .currLink {
    color: darkgreen;
    font-size: 25px;
  }
}
