@import './variables.scss';

.ux-page {

}
.title-wrapper {
  text-align: center;
  background-color: darkgrey;
}
.section {
  text-align: center;
  .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      flex: 1;
      text-align: center;
    }
    .image {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}
.study-link {
  text-align: center;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
}
