@import './variables.scss';

.ux-page {

}
.title-wrapper {
  text-align: center;
  background-color: lightgrey;
}
.title-text {
  padding: 20px 0;
}
.section {
  text-align: center;
  margin: 0 100px;
  .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      flex: 1;
      text-align: center;
      p {
        font-size: 20px;
      }
      h3 {
        font-size: 30px;
      }
    }
    .image {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}
.study-link {
  display: flex;
  align-items: center;
  justify-content: center;
  .howdy-study {
    background-color: rgb(242, 212, 155);
    border-color: rgb(242, 212, 155);
  }
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
