@import './variables.scss';

.ux-page {

}
.title-wrapper {
  text-align: center;
  background-color: darkgrey;
}
.section {

}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
}
